.cards {
 background-color: rgb(238, 227, 214);
 }

h1 {
  text-align: center;
  font-weight: bold;
  
}
.btn-custom {
background-color: rgb(241, 163, 19);
color: aliceblue;
border-radius: 16px;
}

/* @media only screen and (max-width: 767px) {
  Card {
        
        align-items: center !important;
    }
}  */



