.middle {
  height: 100vh;
  min-height: 500px;
  /* background-image: url("/fish.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* mix-blend-mode:darken; */
  background-color: aqua;
  background-blend-mode:color-burn;

}

